<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing Challange</h1>
      <div class="has-text-centered">
        <span
        *ngFor="let letter of randomText.split(''); let i = index;"
        [class]="Compare(letter,enteredText[i])">
          
          {{ letter }} </span>
        </div>

      <div class="field">
        <input
          class="input"
          type="text"
          (input)="onInput($any($event.target).value)"
        />
      </div>
      <div class="box has-text-centred" *ngIf="randomText === enteredText">
        <h1 class="title has-text-centered">Succes</h1>
      </div>
    </div>
  </div>
</div>
